@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    //current Pedigree ID
    int currentPedigreeId = 0;
    //if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
    //    Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    //{
    //    currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    //}
 
    //current FamilyMember ID
    //int currentFamilyMemberId = 0;
    //if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("HGFamilyMembers", StringComparison.InvariantCultureIgnoreCase) &&
    //    Url.RequestContext.RouteData.Values["action"].ToString().Equals("FamilyMemberDetail", StringComparison.InvariantCultureIgnoreCase))
    //{
    //    currentFamilyMemberId = Convert.ToInt32(Url.RequestContext.RouteData.Values["FamilyMemberId"].ToString());
    //}
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    } 
}
<div class="side-2">
    @if (IsSectionDefined("left"))
    {
        @RenderSection("left")
    }
    else
    {        
        //@Html.Action("PedigreeNavigation", "HGPedigree", new { currentPedigreeId = currentPedigreeId, currentFamilyMemberId = currentFamilyMemberId })
        //@Html.Action("RecentlyViewedFamilyMemberBlock", "HGFamilyMember", new { productThumbPictureSize = 64 })
        //@Html.Action("PopularFamilyMemberTags", "HGFamilyMember")        
    }
</div>
<div class="center-2">
    @RenderBody()
</div>
