@model HGFamilyMemberDetailsModel
{
    ///Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.FamilyMemberOverview").Text);
}
@using HGenealogy.Models.HGFamilyMember
@using HGenealogy.Services
<div class="page category-page">

    <div class="page-title">
        <h1>FamilyMemberOverview</h1>
    </div>

    <div class="page-body">
        @if (Model != null)
        {
            HGFamilyMemberOverviewModel overviewModel = new HGFamilyMemberOverviewModel
            {
                DefaultPictureModel = Model.DefaultPictureModel,
                FamilyName = Model.FamilyName,
                GivenName = Model.GivenName,
                Description = Model.Description
            };
            
            <div class="product-grid">
                <div class="item-grid">
                    <div class="item-box">
                        @Html.Partial("_FamilyMemberBox", overviewModel)
                    </div>
                </div>
            </div>
        }
    </div>
</div>
